
{% block body %}
    {% include 'header.html.twig' %}
    <div class="container mt-4">
        <h1>Liste des Médecins</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

   
        <table class="table">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Spécialité</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for doctor in doctors %}
                <tr>
                    <td>{{ doctor.firstName }}</td>
                    <td>{{ doctor.lastName }}</td>
                    <td>{{ doctor.email }}</td>
                    <td>{{ doctor.speciality.title }}</td>
                    <td>
                        <a href="{{ path('doctor_show', {'id': doctor.id}) }}" class="btn btn-info btn-sm">Voir</a>
                         {% if  is_granted('ROLE_ADMIN')  %}
                        <a href="{{ path('doctor_edit', {'id': doctor.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                        {% endif %}
                       
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun médecin trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
