

{% block body %}
    {% include 'header.html.twig' %}
        <h1>Détails du médecin</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Prénom</th>
                    <td>{{ doctor.firstName }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                
                    <td>{{ doctor.lastName }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ doctor.email }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ doctor.phone }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ doctor.adress }}</td>
                </tr>
                <tr>
                    <th>Spécialité</th>
                    <td>{{ doctor.speciality.title }}</td> {# Assurez-vous que "title" existe dans l'entité Speciality #}
                </tr>
            </tbody>
        </table>

    
    </div>
{% endblock %}
