{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
<h1>Articles</h1>

{% if articles is not empty %}
    <table id="articles" class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Catégorie</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.nom }}</td>
                    <td>{{ article.categorie ? article.categorie.titre : 'No Category' }}</td>

                    <td>{{ article.prix|number_format(2, ',', ' ') }} €</td> {# Formatage du prix #}
                    <td>
                        <a href="{{ path('article_show', {id: article.id}) }}" class="btn btn-dark">Détails</a>
                        <a href="{{ path('article_edit', {id: article.id}) }}" class="btn btn-dark">Modifier</a>
                        <form action="{{ path('article_delete', {id: article.id}) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucun article disponible.</p>
{% endif %}
{% endblock %}
