{% extends 'base.html.twig' %}

{% block title %}Appointment Details{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h3 class="card-title mb-0"><i class="bi bi-calendar-check"></i> Appointment Details</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th class="bg-light text-end" style="width: 30%;">ID</th>
                            <td>{{ appointment.id }}</td>
                        </tr>
                        <tr>
                            <th class="bg-light text-end">Date</th>
                            <td>{{ appointment.date ? appointment.date|date('Y-m-d H:i') : '' }}</td>
                        </tr>
                        <tr>
                            <th class="bg-light text-end">Patient</th>
                            <td>{{ appointment.patient.firstName }} {{ appointment.patient.lastName }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between mt-4">
                    <a class="btn btn-outline-secondary" href="{{ path('appointment_index') }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Back to the list">
                        <i class="bi bi-arrow-left"></i> Back to list
                    </a>
                    <a class="btn btn-warning" href="{{ path('appointment_edit', {'id': appointment.id}) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit this appointment">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <form method="post" action="{{ path('appointment_delete', {'id': appointment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="d-inline-block">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appointment.id) }}">
                        <button class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete this appointment">
                            <i class="bi bi-trash"></i> Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
